@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
    --red: #ff3838;
}

*::selection {
    background: var(--red);
    color: #fff;
}

* {
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;   /*text-transform: capitalize; */
    transition: all 0.2s linear;
    letter-spacing: 0.1rem;
}

body {
    max-width: 2000px;
    color: oldlace;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background: url("/images/bk.jpg");
    height: 100vh;
}

h1 {
    font-size: 2rem;
    margin: 2rem;
}

.headman img {
    max-width: 150px;
    max-height: 150px;
    background: transparent;
    border: 0;
    border-bottom: -5px;
    margin: 0;
    margin-bottom: -5px;
    padding: 0;
    padding-bottom: -5px;
    border-radius: 50%;
}

header {
    text-align: center;
    padding-top: 0;
    margin-top: auto;
    align-items: center;
    align-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    margin-bottom: -10px;
    padding-top: 0;
    border: 0;
  }
  .container p {
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
  }
  .container p span.typed-text {
    font-weight: 600;
    color:rgb(196, 196, 11);
  }
  .container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }

  .hr {
      width: 70%;
      color: rgb(34, 13, 13);
      padding: 0;
  }
.center {
    justify-content: center;
    text-align: center;
    padding: 0 .7rem;
    margin: 0 .7rem;
    border: 0 .7rem;
    margin-top: 1rem;
    font-weight: none;
    font-weight: 300;
}
.center h3 {
    font-size: 1.1rem;
    justify-content: center;
    font-weight: 400;
    text-indent: 12px;
    margin-bottom: 0;
    margin-top: 1rem;
    padding-top: 1rem;
}

#gf h3 {
    font-size: 1.35rem;
    font-weight: 600;
    color: rgb(196, 196, 11);
    text-justify: center;
    transition: none;
    margin-bottom: 0;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 0.125rem solid rgb(196, 196, 11);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
    background-color: transparent;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: rgb(34, 13, 13);
    transition: 0.3s linear;
    z-index: -1;
}

.btn:hover:before {
    width: 100%;
    left: 0;
}

.btn:hover {
    color: yellow;
}

.footer .share {
    display: flex;
    gap: 1rem;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.social__media {
    max-width: 5000px;
    width: 100%;
    margin-top: 2rem;
    padding-top: 2rem;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 50px auto 0 auto;
    padding: 50px auto 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0.115rem solid #eee;
    border-style: dashed;
    border-radius: 1rem;
    background: transparent;
}

.website__rights a {
color: rgb(196, 196, 11);
text-decoration: none;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.website__rights {
    color: #fff;
    font-size: .9rem;
    text-align: center;
    padding: 0;
}
.loader {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .loader.fade-out {
    top: -120%;
    background-repeat: no-repeat;
  }

@media screen and (max-width: 920px) {
    
    header h1 {
        font-size: 1.35rem;
        font-weight: 500;
    }
    
    body {
        padding: 5px;
        margin: 5px;
        max-height: 100vh;
    }
    .container p {
        font-size: 1.2rem;
    }
    .center {
        text-align: center;
        justify-content: center;
        padding: 0 5px;
        
    }
    .footer__links {
        padding-top: 1rem;
        font-size: .6rem;

    }
    .social__media--wrap .social__icons {
        margin-bottom: 10px;
        padding: 0;
        border: 0;
        display: flex;
        align-items: center;
        align-content: center;
    }
    #footer__logo {
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    /* //mmm */
    .website__rights {
        margin-bottom: .5rem;
        align-items: center;
        align-content: center;
    }
    .footer__link--wrapper {
        flex-direction: column;
    }
    .social__media--wrap {
        flex-direction: column;
    }
    .social__media .social__media--wrap p {
        font-size: .7rem;
      }
}

@media screen and (max-width: 429px) {
    body {
        padding: 5px;
        margin: 5px;
        text-align: center;
        align-items: center;
        justify-content: center;
        /* font-size: 1rem; */
    }

    #gf h3 {
        font-size: 1.125rem; 
    }

    .center {
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 0 5px;
    }

    .center h3 {
        font-size: .8rem;

    }
    img {
        max-width: 60%;
    }

    header, #gf, .btn {
            font-size: .7rem;
            text-align: center;
          justify-items: center;
            } 

            .website__rights {
                font-size: .5rem;
            
    } 
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}