@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

*{
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

body {
  color: aliceblue;
  background: #dfc1ec;
  position: sticky;
}
.navbar {
  background: url(/images/nav.jpg); 
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  position: sticky;
  top: 0;
  z-index: 999;
  border-radius: .5rem;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

#navbar__logo {
  background-color: #eee;
  background-image: #eee;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 700;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.5s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  color: #fff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: yellow;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
 
  .navbar__container {
    display: flex;
    justify-content: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #000080;
    top: 100%;
    opacity: 0.8;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    width: 120vw;
    font-size: 1.1rem;
    border-radius: 1rem;
    justify-content: flex-start;
    text-align: center;
    padding: 0;
  }

  #navbar__logo {
    padding-right: 280px;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 3px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: left;
    justify-content: flex-start;
    padding: 1rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 1rem;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 27%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}


 .profile-image {
  max-width: 700px;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
} 

/* container section ends*/
.p {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 2rem;
  margin: 1.2rem;
  letter-spacing: 1px;
}

.cc {
  color: #000080;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  letter-spacing: 1px;
  border-radius: 1rem;
  margin-top: 2rem;
  margin: 8px 5rem;
  border: 0 6rem;
  padding: 8px;
}

.services {
  margin-top: 2rem;
border-top: 2rem;
margin-bottom: 1rem;
  background: #000080;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.services h1 {
  color: #eee;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  align-content: center;
  letter-spacing: 2px;

}

.services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  /* background-color: none; */
}

.services__card {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  transition: 0.3s ease-in;
}

.services__card:nth-child(2) {
  background: blueviolet;
  background: -webkit-gradient (to right #a6ffcb);
  background: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}

.services__card:nth-child(3) {
  background: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}

.services__card:nth-child(4) {
  background: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}

.services__card h3 {
  text-align: center;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  padding: 0 8px;
  color: black;
  letter-spacing: 1px;
  cursor: text;
}

.services__card h5 {
  font-size: 1rem;
  text-align: center;
  text-align: center;
  margin-top: 24px;
  font-weight: 500;
  padding: 0 8px;
  color: navy;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: text;
}

.services__btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  text-decoration: none;
}

.services__btn a:hover {
  color: greenyellow;
  font-size: 1.1rem;
}

.services__card button {
  color: #fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: .6rem;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  font-size: 1rem;
}

.services__card button a {
  text-decoration: none;
  color:#fff;
}

.services__card button:hover {
  cursor: pointer;
}

.services__card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .services__wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 80%;
    max-width: 1300px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {

  .services__wrapper {
    grid-template-columns: 1fr;
  }

  .services h1 {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    align-content: center;
  }

  .projects-container {
    max-width: 200px;
    display: flex;
    margin: 1rem;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .website__rights b {
    text-align: center;
    justify-items: center;
    text-align: center;
    }
}

@media screen and (max-width: 560px) {

 .about-container {
   font-size: 1rem;
  max-width: 500px;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
} 

.website__rights  {
  font-size: .6rem;
  text-align: center;
justify-items: center;
  } 
}

@media screen and (max-width: 360px) {

  #navbar__logo {
    padding-right: 180px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .about-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
  } 

  .services {
    margin-top: 1rem;
    border-top: 1rem;
    padding-top: 1rem;
  }
  .website__rights b {
  font-size: .6rem;
  text-align: center;
justify-items: center;
  }
  }


.about-container {
  background: #000080;
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.about-container p {
  font-size: 1.4rem;
  line-height: 1.3;
  padding: 0 20px;
}

.about-container .profile-image img {
  width: 250px;
  border-radius: 50%;
  border-color: yellowgreen;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
  padding: 8px;
  cursor: cell;
}

 .projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  box-shadow: 0 4px 6px 12px rgba(0.4, 0.4, 0.4, 0.4);
  max-width: 550px;
  margin: 24px auto;
  border: solid;
  border-radius: 20px;
}

.projects-container .project {
  height: 160px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 32px;
}

.projects-container .project-name {
  font-size: 1.2rem;
}

.projects-container .project-number {
  font-size: 62px;
  font-weight: bold;
}

.our-team-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}

.our-team {
  color: #eee;
  display: flex;
  padding: 10px 20px;
}

.our-team img {
  width: 100%;
  padding-bottom: 1rem;
  border-radius: 10px;
}

.our-team .team-member {
  color: #eee;
  margin: 0 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.our-team .team-member a {
  color: #eee;
  font-size: 1rem;
  padding-top: 1rem;
  font-weight: 450;
}

#toclick a {
  font-size: .9rem;
  color: #000080;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-justify: distribute;
}

.about-container .our-mission {
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.about-container .our-mission .quote-icon {
  position: absolute;
  opacity: 0.2;
  height: 80px;
}

.social__media .social__media--wrap p {
  font-size: .7rem;
}

@media (max-width: 700px) {
  .our-team {
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
  }
  .about-container p {
    font-size: 1.2rem;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
  }

  .our-team img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .our-team-heading {
    font-size: 1.1rem;
    font-weight: 500;
  }
  #toclick a {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    text-justify: distribute;
  }
}


.social__media {
  max-width: 1000px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  max-width: 1000px;
  margin: 15px auto 0 auto;
  border: 0.137rem solid #000080;
  border-style: dashed;
  border-radius: .5rem;
  background: transparent;
}

.social__icons {
  display: flex;
  justify-content: space-evenly;
  align-items: right;
  width: 240px;
}

.website__rights {
  color: #000080;
  font-size: 1rem;
  margin-left: 15%;
}

.website__rights b {
  color:green;
  text-decoration: none;
}

/* From uiverse.io by @barisdogansutcu */
.down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download-button {
  position: relative;
  border-width: 0;
  color: white;
  font-size: 1rem;
  margin: 0 0 20px 0;
  font-weight: 400;
  border-radius: 4px;
  z-index: 1;
 }
 
 .download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: #242a35;
  border: solid 1px #e8e8e82d;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 .download-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }
 
 .download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 4px;
  transform: translateY(0%);
  background-color: #01e056;
  border: solid 1px #01e0572d;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 .download-button:hover .download {
  transform: translateY(100%)
 }
 
 .download svg polyline,.download svg line {
  animation: docs 1s infinite;
 }
 
 @keyframes docs {
  0% {
   transform: translateY(0%);
  }
 
  50% {
   transform: translateY(-15%);
  }
 
  100% {
   transform: translateY(0%);
  }
 }

/* button for contact */

.frame {
  width: 90%;
  margin: 30px auto auto auto;
  text-align: center;
}
button {
  margin: 20px;
  font-size: 1rem;
  text-decoration: none;
  text-decoration-style: none;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}


/* 7 */
.btn-7 {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
    margin: 0 ;
  }
  .btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-7:before,
  .btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: rgba(251,75,2,1);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-7:before{
     height: 0%;
     width: 2px;
  }
  .btn-7:after {
    width: 0%;
    height: 2px;
  }
  .btn-7:hover{
    color: rgba(251,75,2,1);
    background: transparent;
  }
  .btn-7:hover:before {
    height: 100%;
  }
  .btn-7:hover:after {
    width: 100%;
  }
  .btn-7 span:before,
  .btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(251,75,2,1);
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-7 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-7 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-7 span:hover:before {
    height: 100%;
  }
  .btn-7 span:hover:after {
    width: 100%;
  }

/* scroll section */

#scroll-top {
  position: fixed;
  top: -120%;
  right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  background: transparent;
  color: #fff;
  border-radius: 0.5rem;
  transition: 0.1s linear;
  z-index: 1000;
}

#scroll-top.active {
  top: calc(100% - 5rem);
}

/* .loader {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.loader.fade-out {
  top: -120%;
  background-repeat: no-repeat;
} */

@media screen and (max-width: 920px) {
  html, body {
    overflow-x: hidden;
  }
  .social__media--wrap .social__icons {
    margin-bottom: 10px;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    align-content: center;
  }

  #footer__logo {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .website__rights {
    margin: .6rem auto .5rem auto;
    align-items: center;
    align-content: center;
  }

  .footer__link--wrapper {
    flex-direction: column;
  }

  .social__media--wrap {
    flex-direction: column;
  }

  .social__media .social__media--wrap p {
    font-size: .7rem;
  }
}

